h1{
    text-align: center;
}

#controls {
    margin-bottom: 10px;
}

#controls button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

#map{
    display : flex;
    height: 500px;
}

#legends {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.province{
    stroke: black;
    stroke-width: .3px;
}

#tooltip {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
}