h1{
    text-align: center;
}

#controls {
    margin-bottom: 10px;
}

#controls button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

#map{
    display : flex;
}

.province{
    fill:aquamarine;
    stroke: black;
    stroke-width: .3px;
}

#tooltip {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
}